<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>⚙️ Power of Power Management</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        @loggedIn
        <form class="form-inline" method="POST" action="/admin/logout">
            {{ csrfField() }}
            <div class="form-group mr-3 mb-2">
                <label>Hello, {{ auth.user.username }}</label>
            </div>
            <button type="submit" class="btn btn-dark mb-2">Logout</button>
        </form>
        @else
        <form class="form-inline" method="POST" action="/admin/login">
            {{ csrfField() }}
            <div class="form-group mb-2">
                <input type="text" class="form-control" name="email" placeholder="email@example.com">
            </div>
            <div class="form-group mx-3 mb-2">
                <input type="password" class="form-control" name="password" placeholder="password">
            </div>
            <button type="submit" class="btn btn-dark mb-2">Login</button>
            @if(hasErrorFor('login'))
            <div class="form-group mx-3 mb-2">
                <span class="text-danger">{{ getErrorFor('login') }}</span>
            </div>
            @endif
        </form>
        @endloggedIn
        <a class="btn btn-dark" href="/" role="button">Home</a>
        <a class="btn btn-dark" href="/comic/list" role="button">List Comics</a>
        <a class="btn btn-dark" href="/comic/create" role="button">Create Comic</a>
        <a class="btn btn-dark" href="/post/list" role="button">List Posts</a>
        <a class="btn btn-dark" href="/post/create" role="button">Create Post</a>
        <hr>
        @!section('content')
    </div>
</body>

</html>