<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Power of Power Admin</title>
  <link rel="shortcut icon" href="https://i.imgur.com/grfQrZs.png">
</head>

<body>
  <h1>Power of Power Admin</h1>
</body>

</html>