<html>

<body>
    <h1>{{ comic.title }}</h1>
    <img src="{{ comic.image }}" alt="{{ comic.alt }}">
    <img src="{{ comic.thumb }}" alt="thumb">
    <div>{{ raw(comic.comment) }}</div>
    <p>Posted: {{ comic.posted }}</p>
    <p>Keywords: {{ comic.keywords }}</p>
    <p>Transcript: {{ raw(comic.transcript) }}</p>
    <div>{{ raw(comic.special) }}</div>
</body>

</html>